{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Datos de Usuario</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                {{ messages[0] }} Vuelve a intentarlo.
                </div>
            {% endif %}
        {% endwith %}

        <form method="POST" action="/user_edit">
        <input class="input" type="hidden" name="id" value="{{ user.id }}" />

        <div class="field is-horizontal">
            <div class="field-label">
                <label class="label">Nombre</label>
            </div>

            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <input class="input" type="text" name="nombre" value="{{ user.nombre }}">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label">
                <label class="label">Email</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <input class="input" type="email" name="email" value="{{ user.email }}">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label">
                <label class="label">Rol</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    {% if current_user.rol == "Administrador": %}
                    <div class="select">
                        <select name="rol">
                            <option {% if user.rol == "Administrador" %} selected="true" {% endif %}>Administrador</option>
                            <option {% if user.rol == "Técnico" %} selected="true" {% endif %}>Técnico</option>
                            <option {% if user.rol == "Cliente" %} selected="true" {% endif %}>Cliente</option>
                        </select>
                    </div>
                    {% else: %}
                    {{ user.rol }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <button class="button is-block is-info is-light is-fullwidth">Editar</button>
    {% if current_user.id == user.id %}
      <a class="button is-light" href="{{ url_for('main.user_change_password', id=user.id) }}">Cambiar contraseña</a>
    {% endif %}
    </form>
</div>
{% endblock %}

